<form action="/home/albums/new" method="get">
 <input type="submit" value="Add New Record">
</form>
<br>

<form action="/home/inventory" method="get">
 <input type="submit" value="Sort by Artist">
</form>

<form action="/home/inventory/by-album" method="get">
 <input type="submit" value="Sort by Album">
</form>

<form action="/home/inventory/by-stock-level" method="get">
 <input type="submit" value="Sort by Stock Level">
</form>
<br>

<!-- STOCK TAKE TABLE -->

<table>
  <tr>
    <th></th>
    <th>Total Album Stock:</th>
    <th></th>
    <th>Total Album Cost Value</th>
    <th></th>
    <th>Total Album Store Value</th>
    <th></th>
  </tr>

  <tr>
    <td>|</td>
    <td><%=Album.total_album_stock_level%></td>
    <td>|</td>
    <td>£ <%=Album.total_album_cost_price%></td>
    <td>|</td>
    <td>£ <%=Album.total_album_store_price%></td>
    <td>|</td>
  </tr>

</table>
<br>

<!-- INVENTORY TABLE -->

<table>
  <tr>
    <th></th>
    <th>Artist</th>
    <th></th>
    <th>Album</th>
    <th></th>
    <th>Genre</th>
    <th></th>
    <th>Release Year</th>
    <th></th>
    <th>Cost Price</th>
    <th></th>
    <th>Store Price</th>
    <th></th>
    <th>Stock Level</th>
    <th></th>
    <th>Edit</th>
    <th></th>
    <th>Delete</th>
    <th></th>
    <hr/>
  </tr>

  <% albums = Album.get_albums_by_stock_level %>
  <% albums.each do |album| %>
  <tr>
    <td>|</td>
    <td><a href="/home/artists/<%=album.artist_id%>"><%= Artist.find_by_id(album.artist_id).name %></a></td>
    <td>|</td>
    <td><a href="/home/albums/<%=album.id%>"><%= album.title %></a></td>
    <td>|</td>
    <td><%= album.genre %></td>
    <td>|</td>
    <td><%= album.year %></td>
    <td>|</td>
    <td><%= album.cost_price %></td>
    <td>|</td>
    <td><%= album.store_price %></td>
    <td>|</td>
    <td><%= album.stock_level %></td>
    <td>|</td>
    <td>
      <form action="/home/albums/<%= album.id %>/edit" method="get">
        <input type="submit" value="Edit Record">
      </form></td>
      <td>|</td>
      <td>
        <form action="/home/albums/<%= album.id %>/delete" method="post">
          <input type="submit" value="Delete Record">
        </form></td>
        <td>|</td>
      </tr>
      <% end %>
    </table>
    <hr/>
