<% if @search_results.count == 0 %>
  <h1 class="no_result">NO RESULTS FOUND</h1>
<% else %>

<div class="album_container">
<% @search_results.each do |result| %>
<div class="album_cell">
  <img src= "<%= result.artwork %>"  width="200" height="200" class="album_image">
  <p>Artist:        <%= result.get_artist.name        %> </p>
  <p>Title:         <%= result.title                  %> </p>
  <p>Release Year:  <%= result.year                   %> </p>
  <p>Genre:         <%= result.genre                  %> </p>
  <p>Stock Level:   <%= result.stock_level            %> </p>
  <p>Store Price:   <%= "%.2f" % result.store_price   %> </p>
</div>
<% end %>
</div>
<%end%>
