e<form class="add_button_box" action="/home/albums/new" method="get">
 <input class="add_button" type="submit" value="Add New Record">
</form>

<!-- INVENTORY TABLE -->

<div class="inventory_table">
<table class="inventory">

  <tr>
    <th class="left"><a href="/home/inventory/by-artist-asc">Artist</th>
    <th class="left"><a href="/home/inventory/by-album-asc">Album</th>
    <th> <a href="/home/inventory/by-genre-asc"> Genre </th>
    <th> <a href="/home/inventory/by-release-year-asc"> Release Year </th>
    <th> <a href="/home/inventory/by-cost-price-asc"> Cost Price (£) </th>
    <th> <a class="table_heading" href="/home/inventory/by-store-price-asc"> Store Price (£) </th>
    <th><a href="/home/inventory/by-stock-level-asc">Stock Level</a></th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% albums = Album.get_albums_by_store_price_desc %>
  <% albums.each do |album| %>
  <tr>
    <td><a href="/home/artists/<%=album.artist_id%>"><%= Artist.find_by_id(album.artist_id).name %></a></td>
    <td><a href="/home/albums/<%=album.id%>"><%= album.title %></a></td>
    <td class="centre_narrow"><a href="/home/albums/<%=album.genre%>/by-genre"><%= album.genre %></a></td>
    <td class="centre_narrow"><%= album.year %></td>
    <td class="centre"><%= "%.2f" % album.cost_price %></td>
    <td class="centre"><%= "%.2f" % album.store_price %></td>
    <td class="centre_<%=album.stock_level_warning%>"><%= album.stock_level %></td>
    <td class="centre_narrow">
      <form action="/home/albums/<%= album.id %>/edit" method="get">
      <input type="submit" value="Edit Record">
    </form></td>
    <td class="centre_narrow">
      <form action="/home/albums/<%= album.id %>/delete" method="post">
      <input type="submit" value="Delete Record">
    </form></td>
  </tr>
  <% end %>

<!-- STOCK TAKE TABLE -->
  <tr>
    <td class="blank"></td>
  <tr>
  <tr>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <th>Total Album Cost Value (£)</th>
    <th>Total Album Store Value (£)</th>
    <th>Total Album Stock</th>
    <td class="blank"></td>
    <td class="blank"></td>
  </tr>
  <tr>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="centre"> <%= "%.2f" % Album.total_album_cost_price%> </td>
    <td class="centre"> <%= "%.2f" % Album.total_album_store_price%> </td>
    <td class="centre"> <%=Album.total_album_stock_level%> </td>
    <td class="blank"></td>
    <td class="blank"></td>
  </tr>

</table>
</div>
