<form action="/home/albums/<%= @album.id %>" method="post" autocomplete="off">

  <label for="artist_id">Artist:</label>
  <input list="artist_list" name="artist_id" value="<%= @album.artist_id %>"/>
  <datalist id="artist_list">
  <%@artists.each do |artist| %>
  <option value= "<%=artist.id%>"><%=artist.name%> </option>
  <%end%>
  </datalist> <br>

  <label for="title">Title:</label>
  <input type="text" id="title" name="title" value="<%= @album.title %>"></br>

  <label for="genre">Genre:</label>
  <input list="genre_list" name="genre" value="<%= @album.genre %>"/>
  <datalist id="genre_list">
  <%@genres.each do |genre| %>
  <option value= "<%=genre["genre"]%>"  ></option>
  <%end%>
  </datalist><br>

  <label for="year">Release Year:</label>
  <input type="text" id="year" name="year" value="<%= @album.year %>"></br>

  <label for="artwork">Artwork:</label>
  <input type="text" id="artwork" name="artwork" value="<%= @album.artwork%>"></br>

  <label for="cost_price">Cost Price:</label>
  <input type="number" id="cost_price" name="cost_price" step="0.01" value="<%= @album.cost_price %>"></br>

  <label for="store_price">Store Price:</label>
  <input type="number" id="store_price" name="store_price" step="0.01" value="<%= @album.store_price %>"></br>

  <label for="stock_level">Stock Level:</label>
  <input type="number" id="stock_level" name="stock_level" value="<%= @album.stock_level %>"></br>

<input type="submit" value="Save Changes">

</form>
