<form action="/home/artists" method="get">
  <input type="submit" value="Back to Artists">
</form>

<form action="/home/inventory" method="get">
<input type="submit" value="Back to Inventory">
</form>

<h1> <%= @album.genre %>  </h1>

<% @albums.each do |album| %>
<img src= "<%= album.artwork %>"  width="150" height="150">
<p>Title:         <%= album.title           %> </p>
<p>Artist:        <%= album.get_artist.name %> </p>
<p>Release Year:  <%= album.year            %> </p>
<p>Genre:         <%= album.genre           %> </p>
<p>Stock Level:   <%= album.stock_level     %> </p>
<p>Store Price:   <%= album.store_price     %> </p>

<% end %>

<hr/>
