<h1 class="genre_name"> <%= @album.genre %>  </h1>

<div class="genre_album_container">
<% @albums.each do |album| %>
<div class="genre_album_cell">
  <img src= "<%= album.artwork %>"  width="200" height="200">
  <p>Title:         <%= album.title           %> </p>
  <p>Artist:        <%= album.get_artist.name %> </p>
  <p>Release Year:  <%= album.year            %> </p>
  <p>Genre:         <%= album.genre           %> </p>
  <p>Stock Level:   <%= album.stock_level     %> </p>
  <p>Store Price:   <%= album.store_price     %> </p>
</div>
<% end %>
</div>
