<h1 class="filter_name"> <%= @artist.name %>  </h1>
<% albums = @artist.get_albums %>

<div class="album_container">

  <% albums.each do |album| %>
  <div class="album_cell" id="albums">
    <img src= "<%= album.artwork %>"  width="200" height="200" class="album_image">
    <p class="title">Title: <a class="artist-link" href="/home/albums/<%=album.id%>"><%= album.title %> </a></p>
    <p>Release Year: <a class="artist-link" href="/home/albums/<%=album.year%>/by-year"><%= album.year %> </a></p>
    <p>Genre:        <a class="artist-link" href="/home/albums/<%=album.genre%>/by-genre"><%= album.genre %> </a></p>
    <p>Stock Level:  <%= album.stock_level        %> </p>
    <p>Store Price:  £<%= "%.2f" % album.store_price %> </p>
  </div>
  <% end %>
</div>
